* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
}

.menu{
  &__link {
    &--active {
      color: red;
    }
  }
}

.card {
  width: 20%;
  border: 1px solid black;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  &__container {
    -webkit-perspective: 800px;
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    width: 100%;
  }
  &.is-flipped {
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
  }
  & .back {
    transform: rotateY( 180deg );
  }
  &--play {
    background: green;
    & .card__word,
    & .card__button {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

.switch-field {
  display: flex;
  overflow: hidden;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
  input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
  }
}
