* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
}

.menu{
  &__link {
    &--active {
      color: red;
    }
  }
}

.card {
  min-height: 150px;
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 0.6s;
  &.blur {
    opacity: 50%;
  }
  &__container {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    grid-gap: 10px;
    perspective: 2000px;
    margin: 0 auto;
  }
  &__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  &__desc {
    display: flex;
    justify-content: space-around;
  }
  &__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    &--back {
      transform: rotateY( 180deg );
    }
  }
  &.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  &--play {
    background: green;
    & .card__desc--word,
    & .card__desc--button {
      display: none;
    }
    & .card__img {
      height: 100%;
    }
  }
}

.button {
  &--start {
    &::after {
      content: 'Start';
    }
  }
  &--repeat {
    &::after {
      content: 'Repeat';
    }
  }
}

.hidden {
  display: none;
}

.switch-field {
  display: flex;
  overflow: hidden;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
  input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  &__content {
    width: 80%;
    border: 1px solid black;
    background-color: #fefefe;
    padding: 20px;
    margin: 15% auto;
  }
  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.visible {
  display: block;
}

.star {
  width: 40px;
  height: 40px;
  &__container {
    display: flex;
    height: 50px;
  }
  &--error {
    background: black;
  }
  &--correct {
    background: yellow;
  }
}
